#title-div{
    text-align: center;
    width: 100%;
    background-color: #790101;
    color: #9BB2F8;
}

#title{
    font-family: Rubik Microbe;
    font-size: 100px;
    margin-top: 0px;
}

#sec-title{
    font-family: Dhurjati;
    font-size: 30px;
    margin-top: -116px;
}

.border-div{
    border-color: #790101;
    border-style: solid;
}

.sec-title{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #790101;
    width: 100%;
    margin-top: 0%;
    padding: 10px 0px;
}

#mode-1{
    margin: 10px 0px;
    background-color: #9BB2F8;
    color: #790101;
    border-color: #9BB2F8;
    border: solid;
    font-family: Smooch Sans;
    font-size: 35px;
    padding: 5px 15px;
}

#mode-2{
    margin: 10px 0px;
    background-color: #790101;
    color: #9BB2F8;
    border-color: #9BB2F8;
    border: solid;
    font-family: Smooch Sans;
    font-size: 35px;
    padding: 5px 15px;
}

#input-slot{
    text-align: center;
    width: 100%;
    margin-bottom: 10px;
}

#un-div, #pass-div, #pass-div-2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

input{
    color: #237194;
    font-family: Smooch Sans;
    font-size: 25px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 10px;
}

.btn-main{
    margin: 10px 10px;
    background-color: #790101;
    color: #9BB2F8;
    font-family: Smooch Sans;
    font-size: 25px;
}